.form {
    @apply flex flex-col gap-7;

    &-field {
        display: flex;
        width: 100%;
        justify-content: space-between;

        &:nth-child(11),  &:nth-child(12){
            display: flex;
            justify-content: flex-end;

            input {
                @apply mr-3;
                width: 10%;
            }
        }

        label {
            @apply text-gray font-semibold text-base mr-10;
            width: 10%;
        }

        label[id="checkbox"] {
            width: auto;
        }

        input, select, .comments {
            @apply rounded;
            width: 85%;
            height: 100%;
            border: 1px solid gray;

            &:focus-visible {
                @apply border-green-principal;
            }
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            flex-direction: row-reverse;
        }

        .comments {
            height: 200px;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            label {
                @apply text-gray font-semibold text-base mr-10;
                width: 100%;
            }

            input, select, .comments {
                width: 100%;
            }
        }
    }
}