.header-wrapper {
    @apply grid grid-cols-3 content-center bg-white;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    position: static;

    &--brand{
        @apply col-span-1;
        background-image: url('../assets/logo_petrolcarbon.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 40px;
    }

    .navigation-bar {
        @apply grid content-center h-full col-start-2 col-end-4 gap-3;
        &--list {
            @apply flex justify-between;

            &-item {
                @apply text-gray;

                &:hover{
                    @apply text-green-quarter cursor-pointer;
                }
            }
        }
    }
}