.header-wrapper {
    @apply grid content-center bg-white shadow-md shadow-gray;
    grid-template-columns: 170px repeat(2, minmax(0, 1fr));
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 0 5% 0 5%;
    z-index: 9;
    grid-gap: 10vw;


    &--brand{
        @apply col-span-1;
        background-image: url('../assets/logo_petrolcarbon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 70px;
    }

    .navigation-bar {
        @apply grid content-center h-full col-start-2 col-end-4 gap-3;
        &--menu-btn {
            display: none;
        }

        &--list {
            @apply grid justify-between;
            grid-template-columns: 4vw 8.9vw 15vw 6vw 6vw 6vw 7vw;
            grid-gap: 2vw;

            &-item {
                @apply text-gray text-center p-2 rounded;

                &:hover{
                    @apply bg-green-quarter text-white cursor-pointer;
                    transition: 0.4s all linear;
                }
            }
        }

        .active {
            right: 0;
            transition: 0.3s all linear;
        }
    }

}

@media (max-width: 768px) {
    .header-wrapper {
        .navigation-bar {
            @apply col-end-5;
            grid-column-start: none;
            &--menu-btn {
                @apply block;
                width: 30px;
                padding: 2px;
            }

            &--list{
                @apply absolute  bg-green-principal flex flex-col items-center justify-between;
                grid-template-columns: none;
                top: 100px;
                right: -80%;
                width: 80%;
                transition: 0.3s all linear;

                &-item {
                    @apply w-full text-white text-end;
                }

            }
        }
    }
}