@mixin slider($numberUlr) {
    .slider-content {
        @apply w-full h-full inline-block;
        &--img {
            @apply w-screen h-full;

            img {
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }

        &--phrase {
            @apply absolute text-2xl text-white;
        }
    }
}

@mixin card() {
    .card {
        @apply grid grid-cols-1 relative content-end;
        padding: 20px;
        height: 50vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all 0.3s;
        .card-article {
            @apply flex justify-start flex-col;
            height: 19vh;
            z-index: 1;
            
            h3 {
                @apply text-white my-5 font-medium;
                // font-size: 20px;
            }

            article {
                @apply text-white font-normal;
                // font-size: 18px;
            }

        }

        &-img {
            @apply w-full h-full absolute;

            img {
                @apply w-full h-full;
            }
        }

        &:hover {
            @apply cursor-pointer;
            box-shadow: 0px 1px 3px 4px lightgray;
            transform: scale(1.1);
            z-index: 5;
        }
    
        &--overlay {
            @apply w-full h-full absolute bg-black;
            opacity: 0.3;
            z-index: 0;
        }
    }

    @media (max-width: 992px) {
        
    }

    @media (max-width: 768px) {
        @apply grid-cols-2 grid-rows-2;

        .card {
            &:nth-child(3) {
                @apply col-start-1 col-end-3;
            }
        }
    }

    @media (max-width: 425px) {
        @apply flex flex-col;
        width: 105%;

        .card-article {
            
            h3 {
                @apply text-white my-5 font-medium;
                // font-size: 15px;
            }

            article {
                @apply text-white font-normal;
                // font-size: 13px;
            }

        }
    }

    @media (max-width: 375px) {
        @apply flex flex-col;
        width: 105%;

        .card-article {
            
            h3 {
                @apply text-white my-5 font-medium;
                font-size: 13px;
            }

            article {
                @apply text-white font-normal;
                font-size: 11px;
            }

        }
    }
}

@mixin cardWithImage {
    .cardWithImage {
        transition: all 0.5s ease-in-out;
        &-card {
            @apply grid grid-cols-1 grid-rows-3 cursor-pointer;
            height: 538px;

            &--image {
                @apply w-full h-full row-span-2 opacity-70;
                transition: all 0.5s ease-in-out;
                img {
                    @apply w-full h-full;
                }
            }

            &--text {
                @apply grid grid-cols-1 content-center w-full h-full bg-green-card px-4;
                transition: all 0.5s ease-in-out;
                h2 {
                    @apply font-semibold text-white;
                }

            }

            &:hover {
                @apply shadow-2xl ;
                transition: all 0.5s ease-in-out;
                .cardWithImage-card--image {
                    @apply opacity-100;
                    transition: all 0.5s ease-in-out;
                    img {
                        @apply w-full h-full;
                    }
                }

                .cardWithImage-card--text {
                    @apply bg-white;
                    transition: all 0.5s ease-in-out;
                    h2 {
                        @apply text-green-principal;
                    }
                }
            }

            .change {
                background-color: red;
                @apply bg-black;

                &--image {
                    @apply transition duration-150 ease-out opacity-75;
                }

                &--text {
                    @apply transition duration-150 ease-out hover:bg-gradient-to-r from-green-principal to-grenn-medium;
                    
                    h2 {
                        @apply text-lg font-semibold text-white;
                    }
    
                }
            }
        }

    }
}

@mixin sliderVariousImage {
    .slider-various-image--container {
        .sliderVariousImage-overflow {
            width: 1712px;
            margin: 0 auto;
            overflow: hidden;
        }

        @apply w-full bg-grenn-medium overflow-hidden;
        .sliderVariousImage-content {
            @apply grid items-center relative;
            height: 216px;
            grid-template-columns: repeat(35, 1fr);
            grid-gap: 4%;
            transition: all 0.3s;

            .sliderVariousImage-item {
                width: 369px;
                height: 160px;    
                figure {
                    @apply w-full h-full;
                    img {
                        @apply w-full h-full;
                    }
                }
            }
        }
    }
}

@mixin textAndImage () {
    .textAndImage-wrapper {
        @apply w-full;

        &--content {
            &--left{
                @apply w-full my-24 flex justify-around;
                height: 400px;
            }

            &--right {
                @apply w-full my-24 flex justify-around flex-row-reverse;
                height: 400px;
            }
        }

        &--image {
            @apply text-center;
            width: 45%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &--article {
            @apply w-1/2 flex justify-center flex-col p-10 relative;

            h2 {
                @apply font-bold mb-5 text-gray text-left;
            }

            p {
                @apply text-gray text-justify;
            }

            .see-more {
                @apply bg-green-principal text-white flex justify-center items-center absolute mt-5;
                width: 200px;
                height: 50px;
                right: 40px;
                cursor: pointer;
            }
        }

        @media (max-width: 425px) {
            &--content {
                &--left, &--right{
                    @apply flex-col;
                    height: auto;
                }
            }

            &--image, &--article {
                @apply w-full;
            }

            &--article {
                @apply py-10 px-0;
                
            }

            .see-more {
                right: 0;
            }

        }
    }
}

@mixin hexagon () {
    
    .hexagon--form {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        // background-color: white;
        // clip-path: url(#client-element);

        .hexagon--image {
            width: 100%;
            height: 100%;
            @apply flex justify-center items-center;

            .clientes-img {
                width: 80%;
            }

            .representadas-img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
}

@mixin modals () {
    display: none;
    @apply absolute w-full h-screen bg-black bg-opacity-40;
    left: 0;
    top: 0;
    z-index: 1000;

    .modal-container-data-modal {
        @apply flex flex-col justify-around bg-white rounded-lg p-3;
        margin: calc(50% - 25%) auto;
        width: 400px;
        height: 250px;
    }

    .modal-container-btn {
        display: flex;
        justify-content: flex-end;

        button {
            @apply rounded-lg;
        }
    }
}
