.hexagon-wrapper {

    &--line {
        height: 600px;
        @apply flex flex-col my-20;

        &-title {
            @apply font-semibold text-gray mb-20;
        }

        &-cards {
            @apply flex justify-around;
            flex-wrap: wrap;

            .hexagon-card {
                @include hexagon;
                max-width: 500px;
                width: 25%;
                height: 250px;
                &-img {
                    height: 75%;
                }

                &-display {
                    @apply flex flex-col justify-between h-full;

    
                    article {
                        width: 90%;
                        height: 20%;
                        margin: 0 auto;
                        text-shadow: none;
        
                        p {
                            @apply text-gray text-justify;
    
                            
                        }
                    }
                }

                &:hover {
                    transition: all 0.3s ease-in-out;
                    border-radius: 2%;
                    padding: 10px;
                    scale: 1.1;
                    // overflow: hidden;

                    .hexagon-card-display {
                        article {
                            p {
                                @apply text-green-principal;
                            }
                        }
                    }
                }

                @media ( max-width: 768px ){
                    width: 50%;
                }

                @media ( max-width: 476px ){
                    width: 100%;
                }
            }
        }

        @media ( max-width: 768px ){
            height: fit-content;
        }
    }


}