.slider {
    @apply w-full relative overflow-hidden shadow-lg;
    @include slider(2);
    height: 600px;
    margin: 0 0 213px 0;
    box-shadow: 0px 5px 6px black;

    .slider-content {
        @apply w-full h-full relative;
        white-space: nowrap;
        transition: all 0.3s;
        font-size:0px;

        &--overlay {
            @apply w-full h-full bg-black absolute;
            top:0;
            opacity: 0.3;
        }

        &--img {
            @apply w-full h-full relative inline-block;
            white-space: nowrap;
            
            img {
                @apply w-full h-full relative;
            }
            
            .slider-content--phrase {
                @apply relative;
                width: 25%;
                height: 25%;
                bottom: 30%;
                left: 45%;
                z-index: 2;

                h1 {
                    @apply text-2xl font-bold text-white;
                    text-shadow: 2px 2px 2px #8C8987;
                }
            }
        }

    }

    .slider-content-controls {
        @apply w-full p-0 text-center absolute;
        bottom: 1em;
        margin: 0px;
        z-index: 5;

        &--list {
            @apply bg-green-principal;
            list-style-type: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            margin-right: 5px;
            display: inline-block;
            cursor: pointer;
        }

        &--list.active {
            background-color: whitesmoke;
        }
    }
}

@media (max-width: 992px) {
    .slider {
        &-content {
            &--img {
                .slider-content--phrase {
                    h1 {
                        font-size: 16px!important;
                    }
                }
            }
        }
    }
}