doctype html
html(lang="en")
    head
        link(rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon.png")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="Petrolcarbon")
        meta(name="keywords" content="servicios petroleros, energéticos, gasíferos, manejo de maquinaria de petróleo, capacitación de equipos de pozos petroleros")
        meta( name="description" content="Somos una empresa que ofrece servicios para el sector petrolero, energético, gasífero, maquinaria y asesoramiento para el mismo. En nuestro sitio web, encontrarás noticias, tendencias, análisis del mercado, guías y manuales de mantenimiento de maquinaria, cursos de capacitación, cursos de teorico practicos, testimonios de clientes internacionales, análisis de mercado y tendencias.")
        //- script(src="https://www.google.com/recaptcha/enterprise.js?render=6LcDes8kAAAAAO6p5XE2qSC8IJvJjPg56CwJgfEn")
        title Petrolcarbon
    body
        include components/header.pug
        section(class="inicio")
            include home.pug
        section(class="quienes-somos container-section" style="display: none")
            include quienes-somos.pug
        section(class="representaciones" style="display: none")
            include representadas.pug
        section(class="actividades" style="display: none")
            include servicios.pug
        section(class="clientes" style="display: none")
            include clientes.pug
        section(class="proyectos" style="display: none")
            include proyectos.pug
        section(class="contactenos" style="display: none")
            include contactos.pug
        include components/footer.pug
        //- script(src="https://www.google.com/recaptcha/api.js")
        +modals( modals )
