include variables.pug
include mixins.pug

-let attribute =`${ brand.class }`;
header(class="header-wrapper" attribute=attribute)
    a(id="header-wrapper" href="#form") 
        div(class="header-wrapper--brand")
    +header (menu)