- const content = require('../../content.json');
- const menu = content.menu;
- const brand = content.brand;
- const slider = content.home.slider;
- const servicios = content.productos_y_servicios;
- const representadas = content.representadas_y_alianzas;
- const clientes = content.clientes;
- const quienes_somos = content.quienes_somos;
- const proyectos = content.proyectos;
- const contactenos = content.home.formulario;
- const footer = content.footer;
