- const content = require('../../content.json');
- const menu = content.menu;
- const brand = content.brand;
- const slider = content.home.slider;
- const servicios = content.productos_y_servicios;
- const representadas = content.representadas_y_alianzas;